<%- include('partials/header') %>
<div class="container mt-5">
  <h1 class="text-center mb-4 greet">Welcome to Whisperwind</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-b">
        <div class="card-body">

         
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" name="username" id="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
          </form>

          <div class="mt-3 text-center">
           
          </div>

          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-block btn-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign Up with Google
              </a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-block btn-facebook" href="/auth/facebook" role="button">
                <i class="fab fa-facebook"></i>
                Sign Up with Facebook
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>





<%- include('partials/header') %>
