<%- include('partials/header') %>

<div class="jumbotron text-center sec_body">
  <div class="container">
    <i class="fas fa-key fa-6x sec_key"></i>
    <h1 class="display-3 greet">World of Secrets!</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg btn-out" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg btn-sub" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
