<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron text-center subs ">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3 texts">Secrets</h1>
    <p class="secret-text texts">Let's share Secrets!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-dark btn-sub">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
