
body{
  background-color: #6bb4ec;
  background-image: url('img.jpg');
  background-size: cover;
}

.jumbotron_centered {
    padding-top: 200px;
    text-align: center;
    color: #fff;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 10px; 
  padding: 20px;
  margin-top: 50px; 
  
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.card {
 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-social {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-out:hover {
  color: #fff;
  background-color:#bd2130;
  border-color: #bd2130;
}
.btn-sub:hover {
  color: #fff;
  background-color:green;
  border-color:green;
}

.btn-social i {
  margin-right: 5px;
}
.greet{
  color: #fff;
}
.sec_key{
  color: chartreuse;
}

.subs,.sec_body,.card-b{
  background-color:slategrey;
  border-radius: 10px;
}

